<a href="https://colab.research.google.com/github/ishancoderr/3D_modeling/blob/main/file_handling_python_geopandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:

f = open("/content/note4.txt", "a")
for i in range(10):
  f.write("second note added\n")
  f.write("third note added")
f.close()


f=open("/content/note4.txt", "r")
f.read()

'first note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedfirst note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note addedthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note addedsecond note added\nthird note added'

In [65]:
import os
os.remove('/content/note1.txt')

FileNotFoundError: ignored

In [66]:
print(os.path.exists('/content/note1.txt'))
print(os.path.getsize('/content/note4.txt'))

False
1990

In [67]:
from statistics import mean
a=[1,3,3,3,3]
print(mean(a))

2.6

In [68]:
import pandas as pd

In [69]:
column=["Maria","ishan","nadun"]
height=[1.65,1.56,1.66]
weight=[44,56,89]

title_column={'name':column,
              'height':height,
              'weight':weight}

In [70]:
data=pd.DataFrame(title_column)

In [71]:
print(data)

    name  height  weight
0  Maria    1.65      44
1  ishan    1.56      56
2  nadun    1.66      89

In [73]:
select_column=data["weight"]
print(select_column)

0    44
1    56
2    89
Name: weight, dtype: int64

In [74]:
select_row=data.iloc[2]["weight"]
print(select_row)

89

In [75]:
bmi=[]
for i in range(len(data)):
  bmi_data=data["weight"][i]/(data['height'][i]**2)
  bmi.append(bmi_data)

print(bmi)

[16.161616161616163, 23.011176857330703, 32.29786616344898]

In [76]:
data["BMI"]=bmi

In [77]:
print(data)

    name  height  weight        BMI
0  Maria    1.65      44  16.161616
1  ishan    1.56      56  23.011177
2  nadun    1.66      89  32.297866