<a href="https://colab.research.google.com/github/ishancoderr/3D_modeling/blob/main/python_list_and_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=["we",1,2,"err",78.78]

In [6]:
a[0:4]

['we', 1, 2, 'err']

In [7]:
a.append("ishan")

In [9]:
a.remove("ishan")

In [16]:
a.pop(4)

78.78

In [17]:
print(a)

['we', 1, 2, 'err']

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "black"
print(thislist)

['apple', 'black', 'cherry']

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [22]:
a = ["apple", "banana", "cherry"]
a.pop(1)
a.insert(1,"orange")
print(a)

['apple', 'orange', 'cherry']

In [27]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [28]:
del thislist

In [40]:
thislist = ["apple", "banana", "cherry","banana","orange","apple", "banana", "cherry","banana","orange"]


for x in range(len(thislist)):
 
  if thislist[x]=="banana":
    thislist.pop(x)
    break
    

print(thislist)

['apple', 'cherry', 'banana', 'orange', 'apple', 'banana', 'cherry', 'banana', 'orange']

In [51]:
b= ["apple", "banana", "cherry","banana","orange","apple", "banana", "cherry","banana","orange"]

count=0
for i in range(len(b)):
  if b[i]=="banana":
    print(i)
    b.pop(i)
    count+=1
    if count==2:
      break
    
    

print(b)

1
2
['apple', 'cherry', 'orange', 'apple', 'banana', 'cherry', 'banana', 'orange']

In [52]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [54]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [55]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [56]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [60]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [57]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [61]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [70]:
def removeDuplicates(s):

  result=[]
  seen=set()

  for char in s:
    if char not in seen:
      seen.add(char)
      print(seen)
      result.append(char)
      print(result)

  return ''.join(result)

In [71]:

s='weerakoon'
removeDuplicates(s)

{'w'}
['w']
{'w', 'e'}
['w', 'e']
{'w', 'r', 'e'}
['w', 'e', 'r']
{'w', 'r', 'e', 'a'}
['w', 'e', 'r', 'a']
{'w', 'k', 'a', 'r', 'e'}
['w', 'e', 'r', 'a', 'k']
{'w', 'o', 'k', 'a', 'r', 'e'}
['w', 'e', 'r', 'a', 'k', 'o']
{'w', 'o', 'k', 'a', 'n', 'r', 'e'}
['w', 'e', 'r', 'a', 'k', 'o', 'n']

'werakon'